@import '~bulma/sass/utilities/initial-variables';
@import '~bulma/sass/utilities/functions';

$pink: #ffb3b3;
$pink-invert: #fff;
$primary: $pink;
$primary-invert: $pink-invert;

@import '~bulma/bulma';

