/*
*   Custom styles.
*/

.large-nav-menu {
    margin-top: 1.25em;
}

.menu-main-nav-menu-container > ul {

    display: flex;
    justify-content: center;
    align-items: flex-start;
    text-transform: lowercase;

    a {
        color: $black;
        font-size: 1.1em;
        font-weight: lighter;
    }

    .current-menu-item > a,
    .current-menu-parent > a {
        font-weight: bold;
    }

    .menu-item {

        > a {
            padding: .5em;
            line-height: 1;
            display: inline-block;
        }

        &:hover > a {
            background-color: $light;
            color: $dark;
        }

        &::after {
            content: '';
            margin: .5em;
            border-right: 1px solid $medium-light;
        }

    }

    .menu-item:last-child::after {
        display: none;
    }

    .menu-item-has-children {

        position: relative;

        > a::after {
            content: '▾';
            margin-left: .3em;
            color: $medium;
        }

        > .sub-menu {

            display: none;
            position: absolute;
            top: 100%;
            right: 0;
            z-index: 102;
            text-align: right;
            background-color: whitesmoke;
            white-space: nowrap;
            padding: .5em 0;

            .menu-item::after {
                display: none;
            }

        }

        &:hover > .sub-menu {
            display: block;
        }

    }

}

@media screen and (max-width: $tablet) {
  body .menu-main-nav-menu-container > ul .menu-item::after {
    border: none;
  }
}

.normal-header-logo {
    width: 200px;
}

.homepage-intro {
    text-align: right;
}

.homepage-map {
    text-align: center;
}

.homepage-body {
    text-align: left;
}

.homepage-intro, .homepage-map, .homepage-body {
    display: flex;
    flex-flow: column;

    justify-content: center;
}

.homepage-heading {
    font-size: 1.5rem;
    line-height: 3;
}

.homepage-button {
    background-color: #f0f0f0;
    color: black;
    display: inline-block;
    padding: 10px 20px;
    margin-top: 25px;
}

.homepage-image {
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.section {
    padding-top: 0;
    padding-bottom: 0;
    margin: 65px 0;
}

.container {
    margin: 65px auto;
}

.full-bleed-container {
    margin-left: -1.5rem;
    margin-right: -1.5rem;
}

hr {
    margin-top: 0;
}

.map-wrapper {

    height: 35em;

    .map-popup-title {
        font-family: $family-sans-serif;
        font-size: 1.5em;
        margin: .25em 0;
    }

    .map-popup-link {
        font-family: $family-sans-serif;
        color: $dark;
        font-style: italic;
        text-decoration: underline;
    }

    .gm-style-pbc {
        display: none;
    }

    .cluster div {
        text-shadow: 0px 1px 2px $dark;
    }

}

.map-subtitle {

    font-size: .85em;
    color: $medium;
    text-align: center;

    img {
        height: 2em;
        position: relative;
        top: .5em;
    }

}

.has-space-below {
    margin-bottom: 25px;
}

.conversation-excerpt {

    display: block;

    + .conversation-excerpt {
        margin-top: 25px;
    }

    .card {
        box-shadow: none;

        .card-image figure {
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
        }

        .link {
            color: $dark;
            font-style: italic;
            text-decoration: underline;
        }

        .card-content {
          background-color: black;
          color: white;

          .has-space-below {
            font-weight: bold;
            margin-bottom: 10px;
          }

          .content {
            font-size: .85rem;
          }

          .content:not(:last-child) {
            margin-bottom: .67rem;
          }
        }
        .link {
          color: white;
        }

    }

}

.collapsible-section {

    .section-title {

        margin-bottom: 0;

        .disclosure-triangle {
            position: absolute;
            cursor: pointer;
        }

        .section-title-text {
            margin-left: 1em;
            cursor: pointer;
        }

    }

    .map-wrapper {
        border-radius: 6px;
        height: 25em;
    }

}

.conversation-image {
    height: 25em;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.conversation-image-titles {

    margin-top: 1em;

    .conversation-image-description {
        font-size: .9em;
        font-style: italic;
        font-weight: lighter;
    }

}

.mini-conversation-map {

    .map-wrapper {
        height: 20em;
        border-radius: 6px;
        border: 2px solid $medium-light;
    }

    .map-subtitle {
        margin-top: .5em;
        line-height: 1.25;
    }

}

.conversation-meta {
    margin-bottom: .25em;
}

.conversation-response {

    margin-bottom: 2em;

    strong {
        display: block;
        margin-bottom: .25em;
    }

}

.conversation-transcript {
    overflow-y: scroll;
    max-height: 15em;
}

.about-images .image {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

#submit-form-location-preview {

    #submit-form-location-preview-map {
        height: 250px;
        border-radius: 6px;
        border: 2px solid $grey-lighter;
    }

    #submit-form-location-preview-title {
        margin-top: 1em;
        font-size: .95em;
        color: $grey;
    }

}

#submit-form-youtube-preview-embed {

    padding-bottom: 50%;
    height: 0;
    position: relative;
    margin-bottom: 1em;
    border-radius: 6px;
    background-color: $grey-lighter;

    iframe {
        position: absolute;
        border-radius: 6px;
        border: 2px solid $grey-lighter;
    }
}

.acf-field .acf-label.acf-accordion-title label {
    font-weight: lighter;
    font-size: 1.5em;
    cursor: pointer;
}

.dashicons-arrow-down::before,
.dashicons-arrow-right::before {
    display: block;
    position: relative;
    top: 3px;
}

.dashicons-arrow-right::before {
    transform: rotate(180deg);
}

.acf-form-submit {
    margin-top: 1em;
}

form.acf-form .acf-fields input[type="text"],
form.acf-form .acf-fields input[type="number"],
form.acf-form .acf-fields input[type="email"],
form.acf-form .acf-fields textarea {
    border-radius: 3px;
    border: 1px solid #ccc;
    padding: 1.25em 1em;
}

.acf-taxonomy-field {

    .acf-actions.-hover {

        display: block;
        top: 50%;
        transform: translate(-10%, -40%);

        .acf-icon.-plus:before {
            content: '\e800';
            top: -1px;
            left: -.5px;
        }

    }

    .select2-search__field {
        position: relative;
        top: 2px;
        left: 6px;
        font-size: .9em;
    }

}

.acf-input ul.acf-radio-list li {

    margin: .5em 0;

    input[type="radio"] {
        position: relative;
        top: -1px;
        margin-right: 1em;
    }

}

.message {
  background: none;
}

ul.acf-radio-list li, ul.acf-checkbox-list li label {
  font-size: 1rem;
}
