.large-nav-menu {
    margin-top: 1.25em;
}

ul.menu {

    display: flex;
    justify-content: center;
    align-items: flex-start;
    text-transform: lowercase;

    a {
        color: $black;
        font-size: 1.1em;
        font-weight: lighter;
    }

    .current-menu-item > a,
    .current-menu-parent > a {
        font-weight: bold;
    }

    .menu-item {

        > a {
            padding: .5em;
            line-height: 1;
            display: inline-block;
        }

        &:hover > a {
            background-color: $light;
            color: $dark;
        }

        &::before {
            content: '';
            margin: .5em;
            border-right: 1px solid $medium-light;
        }

        &:first-child::before {
            display: none;
        }

        &.menu-item-button {

            &::before {
                margin: .25em;
                border-right: none;
            }

            & + .menu-item::before {
                margin: .25em;
                border-right: none;
            }

            & > a {

                padding: .5em 1em;
                background-color: $grey-lighter;
                text-transform: uppercase;
                letter-spacing: .05em;
                font-weight: bold;
                color: $grey-dark;
                border-radius: 4px;
                transition: opacity .15s;

                &:hover {
                    opacity: .85;
                }

            }

        }

    }

    .menu-item-has-children {

        position: relative;

        > a::after {
            content: '▾';
            margin-left: .3em;
            color: $medium;
        }

        > .sub-menu {

            display: none;
            position: absolute;
            top: 100%;
            right: 0;
            z-index: 102;
            text-align: right;
            background-color: whitesmoke;
            white-space: nowrap;
            padding: .5em 0;

            .menu-item::after {
                display: none;
            }

        }

        &:hover > .sub-menu {
            display: block;
        }

    }

}

@media screen and (max-width: $tablet) {
  body ul.menu .menu-item::after {
    border: none;
  }
}

.normal-header-logo {
    width: 200px;
}
