@media screen and (min-width: $widescreen) and (hover: hover) and (pointer: fine) {
  body {
    .columns.is-multiline {
      margin: -0.25rem;
    }
    .is-one-third {
      padding: .25rem;
    }

    .conversation-excerpt {

      + .conversation-excerpt {
        margin: 7.5px 0;
      }

      .card {

        .card-image figure {
          border-radius: 0px;
          z-index: 100;
        }

        .card-content {
          background-color: rgba(0, 0, 0, .7);
          opacity: 0;
          position: absolute;
          top: 0;
          z-index: 101;
          width: 100%;
          height: 100%;
          transition: opacity .5s;
        }
      }
      .card:hover .card-content {
        opacity: 1;
      }
    }
    .homepage-button:hover {
      background-color: $medium-dark;
      color: white;
      transition: background-color .5s, color .5s;
    }

    .lesson-excerpt:hover {
      background-color: #f0f0f0;

      .card-content {
        background-color: #f0f0f0;
      }
    }
    .access-lesson a:hover {
      background-color: $medium-dark;
      color: white;
    }
  }
}
