@media screen and (min-width: $widescreen) and (hover: hover) and (pointer: fine) {
  body {
    .columns.is-multiline {
      margin: -0.25rem;
    }
    .is-one-third {
      padding: .25rem;
    }

    .homepage-button:hover {
      background-color: $medium-dark;
      color: white;
      transition: background-color .5s, color .5s;
    }

    .lesson-excerpt:hover {
      background-color: #f0f0f0;

      .card-content {
        background-color: #f0f0f0;
      }
    }
    .access-lesson a:hover {
      background-color: $medium-dark;
      color: white;
    }
  }
}
