.reflection-single-title {

  h1 {
    margin: .25em 0;
    font-size: 1.75em;
    line-height: 1.25;
  }

  .reflection-subtitle {
    font-style: italic;
    font-size: 1.25em;
    font-weight: lighter;
  }

  hr {
    margin: 1em 0;
  }

}

.reflection-gallery-image {

  height: 15em;
  background-size: cover;
  background-position: center;
  background-clip: content-box;
  transition: opacity .2s;
  cursor: pointer;

  &:hover {
    opacity: .85;
  }

}
